.float-shadow {
    box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .25);
}

.float-shadow-sm {
    box-shadow: 0 0 .5rem .05rem rgba(0, 0, 0, .25);
}

.float-shadow-ssm {
    box-shadow: 0 0 .25rem .025rem rgba(0, 0, 0, .25);
}

.cursor-pointer {
    cursor: pointer;
}

a {
    outline: none;
}

.bg-gray {
    background-color: #eee !important;
}

.bg-yellow {
    background-color: #ffd740 !important;
}

.bg-light-yellow {
    background-color: #ffe57f !important;
}

.text-gray {
    color: #eee !important;
}

.text-yellow {
    color: #ffd740 !important;
}

.text-light-yellow {
    color: #ffe57f !important;
}

.circle-border {
    border-radius: 999rem !important;
}