.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 2.85rem;
    z-index: 99;
}

.sidebar img {
    padding: 1px;
    background-color: #fff;
    max-width: 100%;
    height: auto;
}

.sidebar .btn {
    color: #fff;
    /* background-color: #ff1744; */
    font-size: 1.3rem;
    width: 2.85rem;
    height: 2.85rem;
    padding: .5rem;
    margin: .25rem 0;
    box-shadow: none !important;
    outline: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 0 0 0 1rem; */
}

.sidebar .btn:not(.active) {
    color: #fff59d;
}

.sidebar .btn:hover {
    color: #fff;
}

.main-container {
    margin-left: 2.85rem;
    padding-top: 2.85rem;
}

.title-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: .5rem .75rem .5rem 3.85rem !important;
    font-weight: 800;
    font-size: 1.2rem;
    border-bottom-right-radius: 1rem;
}

.chat-list {
    padding: 0;
    margin: 0;
}

.chat-item {
    list-style-type: none;
    height: 4.5rem;
    padding: .5rem .5rem .5rem 1rem;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.chat-item:hover {
    background-color: #f5f5f5;
}

.chat-item > .setting-btn {
    width: 1.75rem;
    height: 1.75rem;
    margin-top: -3.125rem;
    background-color: #fff;
    border-radius: 99rem;
    outline: none !important;
    box-shadow: none !important;
}

.chat-item > .setting-btn:hover {
    color: #ffc107;
}

.chat-item img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 99rem;
    padding: 1.5px !important;
}

.user-card {
    border-radius: .9rem;
    border: 1px solid #eee;
}

.user-card > .header {
    border-radius: .9rem;
    margin-bottom: -1rem !important;
}

.user-card > .header img {
    padding: 2.5px;
    width: 3.5rem;
    background-color: #fff;
}

.user-card > .header .username {
    margin-bottom: .35rem;
    overflow: hidden;
    text-overflow: ellipsis; /* 超出隐藏 */
    white-space: nowrap; /* 强制不换行 */
}

.user-card > .footer {
    font-size: .75rem;
    padding: 1.4rem 1rem .5rem 1rem;
    word-wrap: break-word;
}

.info-list {
    border-radius: 1rem;
    border: 1px solid #eee;
}

.list-group-item {
    border: none !important;
    transition: background-color .1s ease-in-out;
}

.list-group-item:hover {
    background-color: #f8f9fa !important;
}

.list-group-item:first-child {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.list-group-item:last-child {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

.logout-btn {
    border-radius: 99rem !important;
    border-color: #ffd740 !important;
}

.logout-btn:hover {
    background-color: #ffd740 !important;
}