.brand-container {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.brand-container > .brand {
    font-size: 4rem;
    font-weight: 900;
}

form {
    margin: 0 2rem;
}

.form-control {
    border-style: none !important;
}

.form-control:focus {
    border: 1px solid #ffc107 !important;
}

.form-control.is-invalid {
    border: 1px solid #dc3545 !important;
    padding-left: calc(1.5em + .75rem);
}

.form-control.is-invalid:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;
}

.btn, .form-control, .captcha-img {
    border-radius: 999rem !important;
}

#captcha, .captcha-img, .login-btn, .register-link {
    width: 48.75%;
}

.captcha-img {
    height: calc(1.5em + 1.25rem + 2px);
    border: 1px solid #eeeeee;
}

.register-btn {
    margin-top: 1rem;
}