.modal-content {
    border-radius: 1rem !important;
}

.modal-header {
    padding: .3rem .75rem .25rem .75rem !important;
}

.modal-footer {
    padding: .5rem .75rem !important;
}

.modal-header .close {
    outline: none;
}

.modal-title {
    font-weight: 900;
}

.modal-body {
    padding: .75rem !important;
}